.nav {
  display: flex;
  background-color: #1d4ed8;
  color: #fff;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: black;
  font-size: 2.5rem;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  padding-left: 1rem;
}

.logoImage {
  height: 0.6em;
  width: auto;
  vertical-align: middle;
}

.links {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

.links li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}